footer {
    width: 100%;
    color: white;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: rgb(29, 154, 210, 0.68);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 48px 56px;
}

#footer_contacts {
    margin-bottom: 12px;
}

#footer_social_media {
    display: flex;
    gap: 20px;
    margin-top: 24px;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 20px;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#facebook {
    background-color: #4267b3;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
    background-color: black;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--white);
}

.footer-list .footer-link:hover {
    color: var(--dark-blue);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    color: var(--dark-blue);
    padding: 16px;
}

@media screen and (max-width: 768px){
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px){
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
