.footer {
    width: 100%;
    height: 400px;
    background-color: rgb(29, 154, 210, 0.68);
    color: white;
    font-size: 18px;

    display: flex;
    justify-content: space-around;
    
    
}

ul, li {
    list-style-type: none;
}