.cadastro-page {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1004px;
    height: 590px;

}

.fotocad{
    margin-top: 30px;
}

.cadastro {
    margin-left: 2%;
    line-height: 80px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: -69px;
    margin-top: -553px;
    margin-left: 65%;
    color: #3969C8;
}

::placeholder {
    text-align: center;
}

.nome-cad,
.email-cad,
.senha-cad,
.numero-cad,
.cpf-cad,
.genero-cad,
.crp-cad,
.ano-cad {
    display: flex;
    width: 300px;
    height: 40px;
    color: #727171;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    text-align: center;
    margin-left: 65%;
    margin-bottom: 13px;
}

.Botao-tab {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    margin-left: 69%;
}

.tab {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;

}

.tab:hover {
    background-color: #f0f0f0;
}

.tab.active {
    background-color: #007bff;
    color: #ffffff;
}

.botao-cadastro {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 72%;

}

.botao-cadastro:hover {
    background-color: #0056b3;
}