.caixa-login {
  position: absolute;
  width: 1204px;
  height: 600px;
  left: 142px;
  top: 83px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 77px;
}

.form-caixa {
  position: absolute;
  right: 50px;
  align-items: center;
  margin-block: 200px;

}

.email,
.senha {
  width: 100%;
  padding: 8px;
  border-radius: 330.5px;
  border: 1px solid #ccc;

}

h2 {
  text-align: center;
  margin-top: -50px;
  line-height: 69px;
  font-size: 30px;
  font-weight: 400;
  width: 113px;
  left: 180px;
  color: #3969C8;
}

input {
  margin-left:px;
}

.caixa {
  display: flex;
  align-items: center;

}

.remember-login,
.semsenha {
  flex: 1;
  margin-bottom: 2px;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 20px;
}

.botao-login {
  width: 288px;
  height: 38px;
  position: relative;
  border-radius: 15px;
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 26%, rgba(9, 9, 121, 1) 65%);
  cursor: pointer;
  color: white;
  font-size: large;
  margin-left: 30px;
  margin-top: 20px;
}



.semconta-grupo {
  display: flex;
}

.semconta,
.criarconta {
  flex: 1;
}