.home {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var();
}

.home img {
    height: 500px;
}

.home span {
    font-size: 80px;
    color: var(--dark-blue);
    font-weight: bold;
}

.home h1 {
    font-size: 80px;
}

.home p {
    font-weight: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.btn-home {
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    background: var(--dark-blue);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-home:hover {
    opacity: 0.9;
}
